@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('./Roboto/Roboto-Regular.ttf');
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1F2021;
  color: #f2f2f2;
  font-size: 1em;
  overflow: hidden;
  -webkit-user-select: none;
}

#title {
  color: #f2f2f2;
  font-size: 3em;
  cursor: default;
}

#title::first-letter { 
  color: #85BF25!important;
}

#drop {
  text-align: center;
  width: 100%;
  height: 100%;
}

#instructions {
  border: 3px solid #85BF25;
  border-radius: 50%;
  width: 200px;
  height: 200px; 
  background-color: #1b1c1d;
  color: #a5a5a6;
  margin: 0 auto;
  cursor: default;
  font-size: 1.2em;
}

body:hover #overlay, body:hover .titlebar {
  opacity: 1;
}

.titlebar {
  background-color: #1F2021;
}

.titlebar-fullscreen, .titlebar-maximize {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.titlebar-fullscreen:active {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}
